@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}


*{
    font-family: Roboto;
}

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr 1fr;
}

/* SIDEBAR */

.logo-icon{
    height: 45px;
    width: 45px;
}

.logo{
    display: flex;
    align-items: center;
    padding: 16px;
    align-self: start;
    height: 100px;
}

.logo>p{
    font-size: 22px;
    font-weight: bold;
}

.sidebar{

    background-color: #5eead4;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    height: 100vh;

    display: grid;

    grid-template-rows: 1fr, repeat(2, 2fr);

    gap: 10px;


}

.sidebar-option>img{
    height: 35px;
    width: 35px;
}

.sidebar-option>p{
    margin: 0;
}


.sidebar-option{
    display: flex;
    align-items: center;
    padding: 16px;
    font-size: 20px;
}


/* Header */

.header {
    grid-column: 2/3;
    padding: 4px;
    box-shadow: 1px .5px #888888;
    
}

.search>div>img, .header-icons>img{
    height: 24px;
}

.search, .header-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search-bar{
    background-color: rgba(226, 226, 226, 0.733);
    width: 500px;
    height: 24px;
    border-radius: 25px;
    
}

.header-icons, .header-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: center;
}

#header-icon, .user-icon{
    height: 42px;
}

#header-user, #user-card-text{
    font-size: 24px;
}

.main{
    grid-row: 2 / 3;
    background-color: rgba(226, 226, 226, 0.733);
}


.header-user-card>img{
    height: 80px;
}

.header-user-card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    width: 400px;
}

.header-user-card div{
    font-weight: bold;
}

.header-user-card p{
    margin: 0;
}


.button{
    background-color: #5eead4;
    width: 75px;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 25px;
}

/* MAIN */

.main-title, .main-side-title{
    font-size: 24px;
    font-weight: 700;
}

.card-icons>img{
    height: 20px;
}

.card{
    outline: .5px 1px black;
    width: 350px;
    padding: 16px;
    border-radius: 12px;
    background-color: #ffffff;
}

.card-title{
    font-weight: bold;
}

.card-text, .side-card-text{
    color: rgb(124, 124, 124);
}

.card-icons{
    display: flex;
    justify-content: end;
    gap: 4px;
}

.cards-grid{
    display: grid;
    width:800px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 24px;
}

.main{
    padding: 16px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}


/* SIDE CARDS */

.main-side{
    align-self: start;
}

.side-card{
    outline: .5px 1px black;
    padding: 16px;
    border-radius: 12px;
    background-color: #ffffff;
    width: 250px;
    display: grid;
}


.side-card-title{
    font-size: 14px;
    font-weight: bold;
}

.side-card-text{
    font-size: 12px;
    margin: 0;
}

.side-user-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.user-icon{
    justify-self: center;
}

.trending-project>p{
    margin: 0;
}

.trending>.side-card{
    gap: 8px;
}


