@font-face {
    font-family: Roboto;
    src: url('./fonts/Roboto-Regular.ttf');
}


*{
    font-family: Roboto;
}

body{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row: 1fr 1fr;
}

/* SIDEBAR */

.logo-icon{
    height: 45px;
    width: 45px;
}

.logo{
    display: flex;
    align-items: center;
    padding: 4px;
    align-self: start;
    height: 100px;
}

.logo>p{
    font-size: 24px;
    font-weight: bold;
}

.sidebar{

    background-color: #5eead4;

    grid-column: 1 / 2;
    grid-row: 1 / 3;

    height: 100vh;

    display: grid;

    grid-template-rows: 1fr, repeat(2, 2fr);

    gap: 10px;

    
    /* cor secundária: #3b82f6 */
}

.sidebar-option>img{
    height: 35px;
    width: 35px;
}

.sidebar-option>p{
    margin: 0;
}


.sidebar-option{
    display: flex;
    align-items: center;
    padding: 4px;
    font-size: 24px;
}




/* Header */

.header {
    grid-column: 2/3;
    padding: 4px;
}

.search>div>img{
    height: 24px;
}

.search{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search-bar{
    background-color: grey;
    width: 500px;
    height: 24px;
    border-radius: 25px;
    
}

.header-icons>img{
    height: 24px;
}

.header-icons{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-self: center;
}

#header-icon{
    height: 42px;
}

#header-user{
    font-size: 24px;
}

.main{
    grid-row: 2 / 3;
}


.header-user-card>img{
    height: 80px;
}

.header-user-card{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    width: 400px;
}

.header-user-card div{
    font-weight: bold;
}

.header-user-card p{
    margin: 0;
}


#user-card-text{
    font-size: 24px; 
}


